<%= image_tag("logo.png", :border=>0, :class=>"logo") %>

	<% if user_signed_in? %>
	<div class="pic_layer">
  	</div>

    <%= image_tag current_user.pic.url, :class=>"profile_pic" %>
    <script language="JavaScript">document.write(geoip_city());</script>
	<div class="namer">
		<%= current_user.firstname %> <%= current_user.lastname %>
	</div>
	<%= current_user.address %>
	
	<hr class="spacer">
<div class="btn">
        <%= link_to 'Edit', edit_user_registration_path %>
</div>
<div class="btn">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
    <hr class="spacer">
<div class="btn">
        <%= link_to 'Register', new_user_registration_path %>
</div>
<div class="btn">
   		<%= link_to 'Sign in', new_user_session_path %>
    <% end %>
</div>