<!DOCTYPE html>
<html>
<head>
  <title>Zombie</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--Devise Alert-->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!--End Devise Alert-->


<%= yield %>

</body>
</html>
